
*{
    color: rgb(253, 253, 253);
    background-color: black;
    text-decoration: none;
    list-style: none;
    font-family:monospace;
}

h1{

}
h2{

}
h3{

}

.capa-livro{

}

.vitrines {
    display: flex;
}