body{
    background-color: rgb(143, 131, 107);
}
.titulo-1{
    color: aqua;
    text-decoration: none;
}
.melhores-avaliados{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.melhores-avaliados-contener {
    display: flex;
}
